.c-notfound {
  margin-top: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.c-results {
  padding: 10px;
}

.voted {
  background-color: #e6f9fa;
  color: #7fadac;
  border: 1px solid #7fadac;
}
